*.aux
*.log
*.toc
*.bbl
*.blg
*.nav
*.out
*.snm
*.vrb
*.synctex.gz
*.tdo
*.idx
*.swp
latexIntroCourse/errorfile
latexIntroCourse/examples/*.pdf
latexIntroCourse/simple.pdf
latexIntroCourse/examples/skabelon/doc/project.pdf
